#frameprimary {
	-fx-background-color: rgba(160, 160, 160, 1)
}

#frametools {
	-fx-background-color: rgba(40, 40, 40, 0.4);
	-fx-border-color: rgba(40, 40, 40, 1);
}

#frame {
	-fx-background-color: rgba(140, 140, 140, 0.9);
	-fx-border-color: rgba(0, 0, 0, 1)
}

#background {
	-fx-background-color: rgba(38, 38, 38, 0.7);
}

#result {
	-fx-text-fill: white;
	-fx-font-weight: normal;
	-fx-font-size: 35px;
	-fx-background-color: rgba(1, 1, 82, 0.55);
	-fx-border-color: rgba(1, 1, 82, 1);
	-fx-padding: 3;
}

.button {
	-fx-background-color: rgba(0, 0, 0, 0.35);
	-fx-text-fill: rgba(0, 0, 0, 1);
	-fx-font-size: 28px;
	-fx-font-weight: normal;
	-fx-padding: 0;
	-fx-cursor: hand;
}

#backstep, #ce, #c, #dot {
	-fx-background-color: rgba(0, 40, 0, 1);
	-fx-text-fill: rgba(255, 255, 255, 1);
}

.button:hover {
	-fx-background-color: rgba(0, 0, 0, 0.2);
}

#backstep:hover, #ce:hover, #c:hover, #dot:hover {
	-fx-background-color: rgba(0, 40, 0, 0.7);
}

.button:pressed {
	-fx-effect: dropshadow(two-pass-box, rgba(1, 1, 1, 1), 8, 0.0, 0, 3);
}
