#window {
    -fx-background-color: rgba(75, 145, 110, 0.6);
}

#screen {
   -fx-background-color: rgba(75, 145, 110, 0.7);
   -fx-border-width: 1px;
   -fx-border-color: rgba(75, 145, 110, 1)
}

#keys {
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-min-height: 244;
}

.button {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-min-width: 68px;
    -fx-min-height: 61px;
}

#equal {
    -fx-min-width: 135px;
}

.button #hover {
    -fx-background-color: rgb(100, 161, 131);
}